<div class="header bg-dark">
    <div class="row mx-0" >
        <div class="brand">
            <h1 routerLink="/home/products"><strong>MyStore</strong></h1>
        </div>
        
        <div class="search">
            <div class="mx-5">
                <select #categoryOptions class="dropdown p-2">
                    <option *ngFor="let category of categoryStoreItem.topLevelCategories$ | async" 
                    value="{{category.id}}"> 
                       {{ category.category }}
                     </option>                     
                </select>
            </div>
            <input #keyword type="text" class="form-control search-box" placeholder="Search...">
            <button class="search-button">Search <span class="icon-search" (click)="onSearchClicked(keyword.value, categoryOptions.value)"><mat-icon>search</mat-icon></span>
                </button>
        </div>
        <div class="login-container p-0">
            <div class="mx-5 d-sm-inline-flex align-content-center">
                <mat-icon>account_circle</mat-icon>
                <div class="mx-2 mt-1">
                    <h5><a href="#">Sign In</a></h5> / <h5><a href="#">Register</a></h5>
                </div>
            </div>
            <div>
                <div class="m-b5 d-sm-inline-flex">
                    <li class="user-icon mx-2"><mat-icon>favorite</mat-icon>
                    <button class="btn btn-dark position-relative mb-2">
                    <mat-icon class="user-icon mx-2">shopping_cart</mat-icon>
                    <ng-container *ngIf="cartStore.cart$ | async as cart">
                        <span *ngIf="cart.totalProducts > 0" class="position-absolute top-0 translate-middle badge rounded-pill">
                            {{cart.totalProducts}}
                        </span>
                    </ng-container>
                    </button>
                
            </div>
        </div>
    </div>
</div>