$third-color:  rgb(111, 125, 137);
$second-color:  rgb(210, 158, 38);
.catnav-container{
    max-width: 100%;
    background-color: $third-color;
    //border-top: 1px solid black;
    ul {
        margin-left: 4em;
        margin-bottom: 2em;
        padding-bottom: 1em;
        padding-top: 0.5em;

        li {
        list-style: none;
        display: inline-block;
        margin: .2em 1em;
        padding: .4em;
        height: 2.5em;
        letter-spacing: 0.25em;


            a {
            text-decoration: none;
            color: white;
            height: 1.8em;
            font-size: 1.2em;
            font-weight: 300;

            &::after {
                content: '';
                display: block;
                bottom: 0;
                left: 0;
                height: 0.2em;
                background-color: $second-color;
                transform: scaleX(0);
                transition-property: transform;
                transition-duration: 0.2s;
            }
            &:hover {
                &::after {
                transform: scaleX(1.1);
                }
            }
            }
        }
    }
}