<div class="main-product-container">
    <div *ngFor = 'let product of productStore.products$ | async' class="mx-5 p-3 product-card">
        <div class="product-image-container text-center">
            <a routerLink="../product/{{product.id}}">
            <img [src]="'../../../assets/images/' + product.product_img" alt="{{product.product_name}}">
            </a>   
        </div>
        <div class="product-info">
            <h5><strong><a routerLink="../product/{{product.id}}">{{product.product_name}}</a></strong></h5>
            <p class="product-price">{{product.price | currency }}</p>
            <app-star-rating 
                [ratings]="product.ratings" 
                (ratingUpdated)="onRatingUpdated($event, product)">
            </app-star-rating>
        </div>
        <mat-card-actions class="text-center">
            <button mat-button id="1" class="rounded-3 px-3 btnBuy mx-3" (click)="addToCart(product)">Add to Cart <mat-icon>shopping_cart</mat-icon></button>
            <button mat-button class="mx-1"> <mat-icon>favorite</mat-icon></button>
            <button mat-button class="mx-1"><mat-icon>share</mat-icon></button>
          </mat-card-actions>
    
    </div>
</div>